:root{
  overflow: hidden;
}

.saltico {
  animation: rebote 0.6s infinite;
}



@keyframes rebote {
  0%,
  100% {
    transform: translateY(-6%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
